/* PC */
@media (min-width: 992px) {
    .navbar-mobile {
        display: none;
    }
}

/* tb,mb */
@media (min-width:740px) and (max-width:1023px) {
    .nav {
        display: none;
    }

    .hero {
        flex-direction: column;
        gap: 50px;
    }

    .hero__content {
        order: 2;
    }

    .hero__media {
        order: 1;
    }

    .hero__images--sm{
        display: none;
    }

    .hero__content {
        width: 80%;
        text-align: center;
        margin: 22px auto;
    }

    .hero__row {
        justify-content: center;
    }

    /* service */
    .service__row {
        flex-direction: column;
        align-items: center;
    }

    .service__item {
        width: 90%;
        text-align: start;
    }

    .service__list {
        text-align: center;
    }

    /* work */
    .work-list {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    /* about */
    .about-row {
        flex-direction: column;
        gap: 30px;
    }

    .about__img--small {
        display: none;
    }

    .about-content {
        text-align: center;
    }

    /* dentist */
    .dentist-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .dentist-item__ava {
        margin: 0 auto;
    }


    /* install */
    .install__img {
        display: none;
    }

    .install__content {
        flex-direction: column;
    }

    /* blog */
    .blog-inner {
        flex-direction: column;
        row-gap: 30px;
    }

    .blog-content {
        order: 2;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-list {
        order: 1;
    }

    .footer-hidden-tablet {
        display: none;
    }

    .footer__top {
        grid-template-columns: 0.5fr 0.5fr 1fr;
    }

}